@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* utilities style */
.btn-color {
    background-color: #27ae60;
}

.text-green {
    color: #27ae60;
}

.bg-icon {
    background-color: #27ae60;
}

.bg-green {
    background-color: #dff2d4;
}

.bg-footer{
    background-color: #22577a;
}

.header-color {
    color: #22577a;
}

body{
    font-family: 'Poppins', sans-serif;
}


.top-header {
    background-color: #22577A;
}

.socal-info {
    background-color: #27ae60;
}


/* showcase style */
.showcase{
    height: 671px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -5;
    position: relative;
    top: -66px;
}

.showcase-content p {
    font-size: 18px;
}

/* service section style */
.service {
    background-color: #f1f8ff;
}


/* .service .card img:hover {
    transform: scale(1.5);
} */

/* footer style */
.footer-top p {
    font-size: 15px;
}

.footer-top .nav-item a:nth-child(1) {
    font-size: 14px;
}

.bg-bottom {
    background-color: #143449;
}
